<div class="form-group">
  <%= form.label :poster %>
  <%= form.text_field :poster, class: "form-control" %>
</div>
<div class="form-group">
  <%= form.label :email %>
  <%= form.text_field :email, class: "form-control" %>
</div>
<div class="form-group">
  <%= form.label :body %>
  <%= form.text_area :body, class: "form-control" %>
</div>
<center>
  <%= form.submit "投稿する", class: "btn btn-default" %>
</center>
