<div class="form-group">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>
<%= form.fields_for :articles, @topic.articles.first do |article| %>
  <div class="form-group">
    <%= article.label :poster %>
    <%= article.text_field :poster %>
  </div>
  <div class="form-group">
    <%= article.label :email %>
    <%= article.text_field :email %>
  </div>
  <div class="form-group">
    <%= article.label :body %>
    <%= article.text_area :body %>
  </div>
<% end %>
<div class="form-group center">
  <%= form.submit %>
</div>
