<h1>マルチスレッド掲示板</h1>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
      <% if controller.kind_of?(Admin::Base) %>
        <p class="navbar-text">管理者（<%= @current_user.name %>）でログイン中</p>
        <li><%= link_to "管理TOPページ", :admin_root %></li>
        <li><%= link_to "掲示板TOPページ", :root %></li>
        <li><%= link_to "ログアウト", :session, method: :delete %></li>
      <% else %>
        <li><%= link_to "TOPページ", :root %></li>
        <li><%= link_to "新規スレッド投稿", [:new, :topic] %></li>
        <li><%= link_to "管理ページ", :session %></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
